<template>
  <div>
    <notifications></notifications>
    <md-dialog :md-active.sync="show_dialog" class="my_dialog">
      <md-dialog-title class="mb-1 dialog_gue">Edit data</md-dialog-title>
      <div class="md-layout input_layout">
        <div class="md-layout-item md-small-size-100 md-size-50 mb-1">
          <div class="w_100 mb-2 position-relative">
            <p class="mb-0">Name</p>
            <input
              type="text"
              v-model="user_input.name"
              id="name"
              @keyup.enter="doEdit()"
              class="input_base w_100"
              placeholder="Input name"
            />
            <span class="err_mess">{{ errorMess.name }}</span>
          </div>
          <div class="w_100 mb-2 position-relative">
            <p class="mb-0">Email</p>
            <input
              type="email"
              id="email"
              @keyup.enter="doEdit()"
              v-model="user_input.email"
              class="input_base w_100"
              placeholder="Email"
            />
            <span class="err_mess">{{ errorMess.email }}</span>
          </div>
          <div class="w_100 mb-2 position-relative">
            <p class="mb-0">Phone</p>
            <input
              type="number"
              id="phone"
              @keyup.enter="doEdit()"
              v-model="user_input.phone"
              class="input_base w_100"
              placeholder="Phone"
            />
            <span class="err_mess">{{ errorMess.phone }}</span>
          </div>
        </div>
      </div>
      <md-dialog-actions>
        <button class="btn btn-warning h_100 mr-1" @click="doEdit()">
          Edit
        </button>

        <button class="btn btn-danger h_100" @click="show_dialog = false">
          Close
        </button>
      </md-dialog-actions>
    </md-dialog>
    <md-table v-model="users" :table-header-color="tableHeaderColor">
      <md-table-empty-state :md-description="`There is no data`">
      </md-table-empty-state>
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
        <md-table-cell md-label="Email">{{ item.email }}</md-table-cell>
        <md-table-cell md-label="Phone">{{ item.phone }}</md-table-cell>
        <md-table-cell md-label="Edit">
          <button class="btn btn-warning pointer" @click="editable(item)">
            Edit
          </button>
        </md-table-cell>
        <md-table-cell md-label="Delete">
          <button class="btn btn-danger pointer" @click="delete_user(item)">
            Delete
          </button>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
export default {
  name: "simple-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  computed: {
    users() {
      return this.$store.state.users.users_data;
    }
  },
  data() {
    return {
      errorMess: {
        name: "",
        email: "",
        phone: ""
      },
      user_input: {
        name: "",
        email: "",
        phone: ""
      },
      show_dialog: false,
      alert_delete: false
    };
  },
  methods: {
    delete_user(item) {
      const payload = {
        _id: item._id
      };
      this.$my_api_style.post("crud/delete", payload).then(res => {
        if (res.status == 200) {
          let message = item.name + " Berhasil di hapus";
          this.notifyVue("top", "right", message, "danger");
          this.$store.dispatch("users/deleteUser", item._id);
        }
      });
    },
    notifyVue(verticalAlign, horizontalAlign, message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: horizontalAlign,
        verticalAlign: verticalAlign,
        type: type
      });
    },
    editable(item) {
      this.show_dialog = true;
      this.user_input = item;
    },
    doEdit() {
      let isValid = true;
      if (!this.user_input.name || this.user_input.name.trim() == "") {
        this.errorMess.name = "Name required.";
        isValid = false;
      } else {
        this.errorMess.name = "";
      }
      if (!this.user_input.email || this.user_input.email.trim() == "") {
        this.errorMess.email = "Email required.";
        isValid = false;
      } else if (!this.validateEmail(this.user_input.email)) {
        this.errorMess.email = "Email is not valid.";
        isValid = false;
      } else {
        this.errorMess.email = "";
      }
      if (!this.user_input.phone) {
        this.errorMess.phone = "Phone required.";
        isValid = false;
      } else {
        this.errorMess.phone = "";
      }
      if (isValid) {
        this.$my_api_style.post("crud/update", this.user_input).then(res => {
          if (res.data) {
            let message = this.user_input.name + " Berhasil di edit";
            this.show_dialog = false;
            this.notifyVue("top", "right", message, "warning");
          }
        });
      }
    },
    validateEmail(email) {
      if (
        !/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/.test(
          email
        )
      ) {
        return false;
      }
      return true;
    }
  }
};
</script>
<style lang="scss" scoped>
.btn {
  &-warning {
    background: #ffc107;
    border: 1px solid #ffc107;
    color: black;
    cursor: pointer;
  }
  &-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    cursor: pointer;
  }
}
.my_dialog {
  width: 600px;
  height: 400px;
}
.position-relative {
  position: relative;
}
.dialog_gue {
  padding: 10px 24px 0 !important;
}
</style>
