<template>
  <div class="content">
    <div class="md-layout">
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      >
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Tecnical vue test</h4>
            <p class="category">Here is the test</p>
          </md-card-header>
          <md-card-content>
            <div class="md-layout input_layout">
              <div class="md-layout-item md-small-size-100 md-size-25 pl-0">
                <input
                  type="text"
                  v-model="user_input.name"
                  id="name"
                  @keyup.enter="add_user()"
                  class="input_base w_100"
                  placeholder="Input name"
                />
                <span class="err_mess">{{ errorMess.name }}</span>
              </div>
              <div class="md-layout-item md-small-size-100 md-size-25 pl-0">
                <input
                  type="email"
                  id="email"
                  @keyup.enter="add_user()"
                  v-model="user_input.email"
                  class="input_base w_100"
                  placeholder="Email"
                />
                <span class="err_mess">{{ errorMess.email }}</span>
              </div>
              <div class="md-layout-item md-small-size-100 md-size-25 pl-0">
                <input
                  type="number"
                  id="phone"
                  @keyup.enter="add_user()"
                  v-model="user_input.phone"
                  class="input_base w_100"
                  placeholder="Phone"
                />
                <span class="err_mess">{{ errorMess.phone }}</span>
              </div>
              <div class="md-layout-item md-small-size-100 md-size-25">
                <button class="btn base_green h_100" @click="add_user()">
                  <img
                    v-if="is_loading"
                    src="@/assets/img/spinner.gif"
                    alt=""
                    style="width:20px;"
                  />
                  <span v-else class="pointer">Add</span>
                </button>
              </div>
            </div>
            <simple-table
              table-header-color="green"
              :data_table="users"
              class="wrapper-table"
            ></simple-table>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</template>

<script>
import { SimpleTable } from "@/components";

export default {
  data() {
    return {
      is_loading: false,
      users: [],
      user_input: {
        name: "",
        email: "",
        phone: ""
      },
      errorMess: {
        name: "",
        email: "",
        phone: ""
      }
    };
  },
  components: {
    SimpleTable
  },
  mounted() {
    this.$my_api_style.get("crud/list").then(res => {
      if (res.data) {
        this.$store.dispatch("users/getAllList", res.data.data);
      }
    });
  },
  methods: {
    add_user() {
      let isValid = true;
      if (!this.user_input.name || this.user_input.name.trim() == "") {
        this.errorMess.name = "Name required.";
        isValid = false;
      } else {
        this.errorMess.name = "";
      }
      if (!this.user_input.email || this.user_input.email.trim() == "") {
        this.errorMess.email = "Email required.";
        isValid = false;
      } else if (!this.validateEmail(this.user_input.email)) {
        this.errorMess.email = "Email is not valid.";
        isValid = false;
      } else {
        this.errorMess.email = "";
      }
      if (!this.user_input.phone || this.user_input.phone.trim() == "") {
        this.errorMess.phone = "Phone required.";
        isValid = false;
      } else {
        this.errorMess.phone = "";
      }

      if (isValid) {
        this.is_loading = true;
        this.$my_api_style.post("crud/create", this.user_input).then(res => {
          if (res.status == 200) {
            this.is_loading = false;
            this.notifyVue("top", "right", res.data.data);
            this.$store.dispatch("users/addUsers", res.data.data);
            this.user_input = {};
          }
        });
      }
    },
    notifyVue(verticalAlign, horizontalAlign, item) {
      this.$notify({
        message: item.name + " Berhasil di tambah",
        icon: "add_alert",
        horizontalAlign: horizontalAlign,
        verticalAlign: verticalAlign,
        type: "success"
      });
    },
    validateEmail(email) {
      if (
        !/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/.test(
          email
        )
      ) {
        return false;
      }
      return true;
    }
  }
};
</script>
<style lang="scss" scooped>
$_black_base_cl: #707070;
$_green: #28a745;
$_red: #dc3545;

.btn {
  border: none;
  background: $_green;
  border: 1px solid $_green;
  color: white;
  border-radius: 4px;
  padding: 3px 10px;
}
.m {
  &b {
    &-0 {
      margin-bottom: 0px !important;
    }
    &-1 {
      margin-bottom: 10px !important;
    }
    &-2 {
      margin-bottom: 20px !important;
    }
  }
  &t {
    &-0 {
      margin-top: 0px;
    }
    &-1 {
      margin-top: 15px;
    }
  }
  &r {
    &-0 {
      margin-right: 0px;
    }
    &-1 {
      margin-right: 15px;
    }
  }
}
.p {
  &x {
    &-0 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  &l {
    &-0 {
      padding-left: 0 !important;
    }
  }
  &r {
    &-0 {
      padding-right: 0 !important;
    }
  }
}
.h {
  &_100 {
    height: 100%;
  }
}

.w {
  &_100 {
    width: 100%;
  }
  &_75 {
    width: 75%;
  }
  &_50 {
    width: 50%;
  }
  &_25 {
    width: 25%;
  }
}
.input_layout {
  .input_base {
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 4px;
    min-height: 30px;
    color: #707070;
    padding: 0px 10px;
    font-size: 14px;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $_black_base_cl;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: $_black_base_cl;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: $_black_base_cl;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: $_black_base_cl;
    }
  }
  .md-layout-item {
    position: relative;
  }
}
.wrapper-table {
  margin: 50px 0px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.err_mess {
  color: $_red;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: -23px;
}
.pointer {
  cursor: pointer;
}
</style>
